PORT=8080
ENV=development

MYSQL_DSN=user:password@tcp(localhost:3306)/daedalus_auth?parseTime=true
REDIS_URL=redis://localhost:6379/0

RABBITMQ_URL=amqp://guest:guest@localhost:5672/

# Sécurité
JWT_PRIVATE_KEY_PATH=./keys/rsa.private
JWT_PUBLIC_KEY_PATH=./keys/rsa.public
RESET_TOKEN_SECRET=super_secret_hmac_key
BCRYPT_COST=12